


<mat-grid-list [cols]="cols" [rowHeight]="rowHeight">
    <mat-grid-tile class="animated zoomIn">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Consultas
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/consulta-tabaco.jpg" style="width:200px; height:200px" alt="consultas">
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur.
                </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button routerLink='/login' color='primary'>VER MAS ... <mat-icon>visibility</mat-icon></button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="animated zoomIn">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Limpiezas
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/img/banos-espiritual.jpg" style="width:200px; height:200px" alt="Limpiezas">
                <mat-card-content>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button routerLink='/login' color='primary'>VER MAS ... <mat-icon>visibility</mat-icon></button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="animated zoomIn">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            Trabajos
                        </mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/img/trabajo-espiritual.jpg" style="width:200px; height:200px" alt="trabajos">
                    <mat-card-content>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button routerLink='/login' color='primary'>VER MAS ... <mat-icon>visibility</mat-icon></button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile class="animated zoomIn">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                Velaciones
                            </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="../../assets/img/velaciones-espirituales.jpg" style="width:200px; height:200px" alt="velaciones">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-raised-button routerLink='/login' color='primary'>VER MAS ... <mat-icon>visibility</mat-icon></button>
                        </mat-card-actions>
                    </mat-card>
            </mat-grid-tile>
            <mat-grid-tile class="animated zoomIn">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                Boveda Espiritual
                            </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="../../assets/img/boveda-espiritual.jpg" style="width:200px; height:200px" alt="Boveda Espiritual">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-raised-button routerLink='/login' color='primary'>VER MAS ... <mat-icon>visibility</mat-icon></button>
                        </mat-card-actions>
                    </mat-card>
            </mat-grid-tile>
            <mat-grid-tile class="animated zoomIn">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                Guia Espiritual
                            </mat-card-title>
                        </mat-card-header>
                          <img mat-card-image src="../../assets/img/gitana-logo.jpg" style="width:200px; height:200px" alt="Guia Espiritual">
                        <mat-card-content>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-raised-button routerLink='/login' color='primary'>VER MAS ... <mat-icon>visibility</mat-icon></button>
                        </mat-card-actions>
                    </mat-card>
            </mat-grid-tile>
</mat-grid-list>
