<div class="animated fadeInDown">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Entrar al Sistema</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form novalidate [formGroup]='formLogin' (ngSubmit)='onSubmit()' class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Correo" formControlName="email" required>
            <mat-error *ngIf='formLogin.controls.email.hasError("required")'>Este campo es obligatorio</mat-error>
            <mat-error *ngIf='formLogin.controls.email.hasError("email")'>Correo no valido</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Clave" formControlName="clave" required>
            <mat-error *ngIf="formLogin.controls.clave.hasError('required')">Este campo es obligatorio</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" *ngIf='formLogin.valid' [disabled]='loading'> Entrar <mat-icon>send</mat-icon></button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
